/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:16px/1.6 'Gotham-Book', 'MyriadProRegular', Arial, sans-serif; background:#DFE7E8; color:#131617;
                                  -webkit-font-smoothing: antialiased;
                                  -moz-osx-font-smoothing: grayscale; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
h1,h2,h3,h4,h5,h6,.heading-font{ font-family: 'Gotham-Bold', 'MyriadProRegular', Arial, sans-serif; }
select, input, textarea        { font-size:16px; vertical-align:middle; color:#131617; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font-family: 'MyriadProRegular', Arial, sans-serif; color:#131617; text-decoration:none; }
a:hover                        { text-decoration:underline; color:#0cbcc9; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

/*------------------------------------------FONTS-----------------------------------*/
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
         url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
         url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book/Gotham-Book.eot?#iefix')format("embedded-opentype"),
         url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book/Gotham-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix')format("embedded-opentype"),
    url('../fonts/Gotham-Medium/Gotham-Medium.woff') format('woff'),
    url('../fonts/Gotham-Medium/Gotham-Medium.ttf') format('truetype'),
    url('../fonts/Gotham-Medium/Gotham-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix')format("embedded-opentype"),
    url('../fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
    url('../fonts/Gotham-Bold/Gotham-Bold.ttf') format('truetype'),
    url('../fonts/Gotham-Bold/Gotham-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*----------------------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}
.cell-list {
    overflow: hidden;
    margin: 0 -4%;
    text-align: center;
}
    .cell-list > li {
        display: inline-block;
        width: 49%;
        padding: 0 4%;
        max-width: 580px;
        vertical-align: top;
    }
        .list-box-wrap { position: relative; }
        .list-box-wrap:before {
            position: absolute;
            content: "";
            top: 3px;
            left: 50%;
            margin-left: -60px;
            width: 120px;
            height: 120px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #ffffff;
            -webkit-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
            -moz-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
            box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
            z-index: 2;
        }
            .list-box {
                position: relative;
                z-index: 5;
                margin-top: 48px;
                margin-bottom: 10px;
                -webkit-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
                -moz-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
                box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
            }
                .list-wrap-img {
                    overflow: hidden;
                    top: -45px;
                    left: 50%;
                    margin-left: -60px;
                    position: absolute;
                    z-index: 5;
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 120px;
                    background-color: #ffffff;
                }
                .list-wrap-img img {
                    max-width: 80px;
                    max-height: 65px;
                    vertical-align: middle;
                    line-height: normal;
                }
                .cell-box {
                    background: #fff;
                    padding: 74px 45px 54px;
                    text-align: center;
                    font-size: 16px;
                    -webkit-border-radius: 6px;
                    -moz-border-radius: 6px;
                    border-radius: 6px;
                }
                    .cell-box a {
                        text-decoration: none;
                    }
                    .cell-box a:hover h3 {
                        color: #0cbcc9;
                    }
                    .cell-box a.btn {
                        margin-top: 24px;
                    }
                    .title-cell {
                        font: 700 1.5em/1.4 'Nunito', 'MyriadProRegular', Arial, sans-serif;
                        margin-bottom: 14px;
                        text-decoration: none;
                        -webkit-transition: 0.2s;
                        -moz-transition: 0.2s;
                        -o-transition: 0.2s;
                        transition: 0.2s;
                    }
                    .description-cell {
                        display: block;
                    }
                    .description-cell p {
                        margin-bottom: 8px;
                    }
                    .description-cell > :last-child {
                        margin-bottom: 0;
                    }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: -338px;
}
.wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 338px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    background: #131617;
    color: #ffffff;
}
    .header-box {
        position: relative;
        padding: 60px 30px;
    }
        .logo-wrap {
            overflow: hidden;
        }
            a.logo:hover, .logo a:hover,
            a.footer-logo:hover, .footer-logo a:hover {
                text-decoration: none;
            }
            .logo {
                display: inline-block;
                float: left;
                max-width: 253px;
                margin-right: 55px;
            }
                .logo img {
                    max-width: 100%;
                    height: auto;
                    margin-bottom: -3px;
                }
            .logo-wrap strong {
                display: inline-block;
                margin-top: 4px;
                font-weight: 300;
                font-size: 2.25em;
                text-transform: uppercase;
            }
                .logo-wrap strong span {
                    color: #2bb8b7;
                }
/*----------------------------------------------------------------------------------*/
/*--------------------------------------NAV-----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.mobile-menu-wrap,
.mobile-menu-toggle {
    /*display: none;*/
}
    .mobile-menu-wrap {
        position: fixed;
        z-index: 9999;
        right: 0;
        height: 0;
        width: 0;
        top: 0;
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
    .mobile-menu-wrap.showing {
        height: 100%;
        width: 100%;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
    }
        .mobile-menu-overlay {
            position: absolute;
            z-index: 1;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.25);
            opacity: 0;
            -webkit-transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
            -o-transition: opacity 0.3s;
            transition: opacity 0.3s;
        }
        .showing .mobile-menu-overlay {
            opacity: 1;
        }
            .mobile-menu-nav-wrap{
                width: 370px;
                max-width: 90%;
                position: absolute;
                right: -350px;
                z-index: 2;
                -webkit-transition: right 0.3s;
                -moz-transition: right 0.3s;
                -o-transition: right 0.3s;
                transition: right 0.3s;
                height: 100%;
                overflow: auto;
                background-color: #e4e9eb;
                -webkit-box-shadow: -5px 5px 20px rgba(0,0,0,0.1);
                -moz-box-shadow: -5px 5px 20px rgba(0,0,0,0.1);
                -ms-box-shadow: -5px 5px 20px rgba(0,0,0,0.1);
                -o-box-shadow: -5px 5px 20px rgba(0,0,0,0.1);
                box-shadow: -5px 5px 20px rgba(0,0,0,0.1);
                padding: 80px 15px 20px;
            }
            .showing .mobile-menu-nav-wrap {
                right: 0;
            }
        .mobile-menu-box {
            margin-bottom: 20px;
        }
            .mobile-menu li a {
                position: relative;
                display: block;
                padding: 15px 15px 13px;
                font-size: 14px;
                color: #ffffff;
                text-decoration: none;
            }
            .mobile-menu > li > a {
                font-size: 16px;
            }
            .mobile-menu li a:hover,
            .mobile-menu .current-menu-item > a,
            .mobile-menu .current_page_item > a,
            .mobile-menu .current-menu-parent > a,
            .mobile-menu .current-menu-ancestor > a,
            .mobile-menu .current-page-ancestor > a {
                background-color: #182631;
                color: #0cbcc9;
                text-decoration: none;
            }
            .mobile-menu .sub-menu {
                display: block;
            }
                .mobile-menu .sub-menu a {
                    padding-left: 30px;
                }
                    .mobile-menu .sub-menu .sub-menu a {
                        padding-left: 45px;
                    }
        .mobile-menu-toggle {
            position: absolute;
            right: 5px;
            top: 50%;
            height: 80px;
            width: 80px;
            margin-top: -40px;
            background-color: transparent;
            vertical-align: middle;
            cursor: pointer;
            font-size: 26px;
        }
            .mobile-menu-toggle span:before,
            .mobile-menu-toggle span:after,
            .mobile-menu-toggle span {
                content: '';
                cursor: pointer;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                height: 4px;
                width: 30px;
                background: #ffffff;
                position: absolute;
                display: block;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
            .mobile-menu-wrap .mobile-menu-toggle span:before,
            .mobile-menu-wrap .mobile-menu-toggle span:after,
            .mobile-menu-wrap .mobile-menu-toggle span {
                background: #54636b;
            }
            .mobile-menu-toggle span {
                left: 50%;
                top: 50%;
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            .mobile-menu-toggle span:before {
                top: -10px;
            }
            .mobile-menu-toggle span:after {
                bottom: -10px;
            }
        .mobile-menu-wrap .mobile-menu-toggle {
            right: 0;
            top: 0;
            margin-top: 0;
            background-color: transparent;
        }
        .mobile-menu-toggle.active span {
            background-color: transparent;
        }
            .mobile-menu-toggle.active span:before {
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 0;
                background: #fff;
            }
            .mobile-menu-toggle.active span:after {
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                bottom: 0;
                background: #fff;
            }
            .mobile-menu-wrap .mobile-menu-toggle.active span:before,
            .mobile-menu-wrap .mobile-menu-toggle.active span:after {
                background: #54636b;
            }
            .mobile-menu-toggle:not(.active):hover span,
            .mobile-menu-toggle:hover span:before,
            .mobile-menu-toggle:hover span:after,
            .mobile-menu-toggle:not(.active):active span,
            .mobile-menu-toggle:active span:before,
            .mobile-menu-toggle:active span:after,
            .mobile-menu-wrap .mobile-menu-toggle:not(.active):hover span,
            .mobile-menu-wrap .mobile-menu-toggle:hover span:before,
            .mobile-menu-wrap .mobile-menu-toggle:hover span:after,
            .mobile-menu-wrap .mobile-menu-toggle:not(.active):active span,
            .mobile-menu-wrap .mobile-menu-toggle:active span:before,
            .mobile-menu-wrap .mobile-menu-toggle:active span:after {
                background: #0cbcc9;
            }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content-wrap {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 70px;
}
    .content-box {
        background: transparent;
        /*-webkit-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);*/
        /*-moz-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);*/
        /*box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);*/
    }

    .accordion-tab,
    .accordion-list > li,
    .open-icon,
    .open-icon:before, .open-icon:after {
        -webkit-transition: all 0.35s;
        -moz-transition: all 0.35s;
        -o-transition: all 0.35s;
        transition: all 0.35s;
    }
    .main {
        overflow: hidden;
        padding: 10px 50px;
    }
        .accordion-list {
            text-align: center;
        }
			.accordion-list > li {
				position: relative;
				-webkit-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
				-moz-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);
				box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.05);`
			}
            .accordion-list > li:not(:last-child) {
                /*border-bottom: 1px solid #F0F2F5;*/
            }
            .accordion-list > li > a:hover {
                text-decoration: none;
            }
            .accordion-list > li.disable {
                display: none;
            }
                .accordion-tab {
                    position: relative;
                    padding: 20px 80px;
                    cursor: pointer;
                }
                .open .accordion-tab,
                .accordion-tab:hover {
                    color: #0cbcc9;
                }
                .accordion-tab:hover {
                    -webkit-transition: color 0.25s;
                    -moz-transition: color 0.25s;
                    -o-transition: color 0.25s;
                    transition: color 0.25s;
                }
                    .accordion-tab-table {
                        display: table;
                        min-width: 270px;
                        height: 60px;
                        margin: 0 auto;
                    }
                        .accordion-tab-table > li {
                            display: table-cell;
                            text-align: center;
                            vertical-align: middle;
                        }
                            .accordion-tab-table .tab-icon img {
                                max-width: 50px;
                                max-height: 53px;
                                margin-bottom: -4px;
                            }
                            .tab-title {
                                font: 1.75em/1.4 'Gotham-Medium', 'MyriadProRegular', Arial, sans-serif;
								text-transform: uppercase;
                            }
                            .tab-title-info {
                                display: none;
                                margin-top: -13px;
                                font: 1em/1.4 'Gotham-Book', 'Lato', Arial, sans-serif;
                                color: #54636b;
                            }
                            .open .tab-title-info {
                                display: block;
                            }
                            .primary .tab-title {
                                font-size: 2.25em;
                            }
                    .open-icon {
                        position: absolute;
                        right: 40px;
                        top: 50%;
                        margin-top: -15px;
                        width: 30px;
                        height: 30px;
                        border: 2px solid #BAC3C8;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                    }
                    .open .open-icon,
                    .accordion-tab:hover .open-icon {
                        border-color: #0cbcc9;
                    }
                        .open-icon:before,
                        .open-icon:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 50%;
                            background-color: #BAC3C8;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            border-radius: 2px;
                        }
                        .open-icon:before {
                            margin-right: -7px;
                            margin-top: -1px;
                            height: 2px;
                            width: 14px;
                        }
                        .open-icon:after {
                            margin-right: -1px;
                            margin-top: -7px;
                            width: 2px;
                            height: 14px;
                        }
                        .open .open-icon:before,
                        .open .open-icon:after,
                        .accordion-tab:hover .open-icon:before,
                        .accordion-tab:hover .open-icon:after {
                            background-color: #0cbcc9;
                        }
                        .open .open-icon:after {
                            -moz-transform: rotate(-90deg);
                            -ms-transform: rotate(-90deg);
                            -webkit-transform: rotate(-90deg);
                            -o-transform: rotate(-90deg);
                            transform: rotate(-90deg);
                        }
                .accordion-content {
                    display: none;
                    padding: 40px 140px 50px;
                    /*border-top: 1px solid #F0F2F5;*/
                    animation-timing-function: linear;
                    animation-duration: 2s;
                    background-color: #F2FBFA;
                }
                .primary .accordion-content {
                    padding: 10px 40px 74px;
                    border-top: none;
                    background: transparent;
                }
                .open .accordion-content {
                    /*display: block;*/
                }
                    .accordion-content-box {
                        max-width: 750px;
                        padding: 0 20px;
                        margin: 0 auto;
                    }
                        .accordion-content-box > *:not(:last-child),
                        .content > *:not(:last-child) {
                            margin-bottom: 10px;
                        }
                        .accordion-content-box-title {
                            margin-bottom: 14px;
                            font: 1.5em/1.3 'Gotham-Book', 'MyriadProRegular', Arial, sans-serif;
                        }
                        .content ul > li {
                            list-style-type: disc;
                        }
                        .content ol > li {
                            list-style-type: decimal;
                        }
                        .content li {
                            margin-bottom: 5px;
                        }
                        .content li,
                        .content blockquote {
                            text-align: left;
                        }
                        .content a {
                            color: #0cbcc9;
                        }
                        .content img {
                            max-width: 100%;
                            height: auto;
                        }
                        .content img.alignleft{
                            float: left;
                            margin: 4px 12px 12px 0;
                        }
                        .content img.alignright{
                            float: right;
                            margin: 4px 0 12px 12px;
                        }
                        .content img.aligncenter{
                            display: block;
                            margin: 0 auto 12px;
                            clear: both;
                        }

#catalyzing-strategy .accordion-content,
#impact .accordion-content {
    padding-left: 4%;
    padding-right: 4%;
}
/*---------------------------------CUSTOM-ACCORDION--------------------------------*/
.primary {
	margin: 0 20px;
}
	.primary .accordion-tab {
		background-color: #0C7281;
	}
	.primary.top .accordion-tab {
		-webkit-border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
	}
	.primary.bottom .accordion-tab {
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
	}
		.accordion-link {
			display: block;
			position: relative;
			margin: 0 -20px;
		}
		.accordion-link:after,
		.accordion-link:before {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			z-index: -1;
		}
		.accordion-link:after {
			right: 0;
		}
		.accordion-link:before {
			left: 0;
		}
		.top .accordion-link:after {
			bottom: -20px;
			border-top: 20px solid #07515C;
			border-right: 20px solid transparent;
		}
		.top .accordion-link:before {
			bottom: -20px;
			border-top: 20px solid #07515C;
			border-left: 20px solid transparent;
		}
		.bottom .accordion-link:after {
			top: -20px;
			border-bottom: 20px solid #07515C;
			border-right: 20px solid transparent;
		}
		.bottom .accordion-link:before {
			top: -20px;
			border-bottom: 20px solid #07515C;
			border-left: 20px solid transparent;
		}
		.neighbors-open.top .accordion-link:after,
		.neighbors-open.bottom .accordion-link:after {
			border-right-width: 40px;
		}
		.neighbors-open.top .accordion-link:before,
		.neighbors-open.bottom .accordion-link:before {
			border-left-width: 40px;
		}
		.primary.open .accordion-link {
			margin: 0;
		}
		.primary.open .accordion-link:after,
		.primary.open .accordion-link:before {
			content: none;
		}
		.primary.open .accordion-tab {
				background-color: #ffffff;
			}
				.open .tab-title {
					color: #0cbcc9;
				}
		.primary.open .accordion-content {
			background-color: #ffffff;
		}
		.primary.open:last-child .accordion-tab {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
		.primary.open:last-child .accordion-content {
			-webkit-border-radius: 0 0 10px 10px;
			-moz-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
		}
		.primary .tab-title {
			color: #FFFFFF;
		}
			.primary .open-icon {
				right: 20px;
			}
.secondary {
	margin: 0 40px;
}
	.secondary .accordion-tab {
		background-color: #84BBC2;
	}
		.secondary.top .accordion-link:after,
		.secondary.top .accordion-link:before {
			border-top-color: #6BA0A8;
		}
		.secondary.bottom .accordion-link:after,
		.secondary.bottom .accordion-link:before {
			border-bottom-color: #6BA0A8;
		}
	.secondary .tab-title {
		color: #36808C;
	}
.third {
	margin: 0 60px;
}
	.third .accordion-tab {
		background-color: #C7E3E7;
	}
		.third.top .accordion-link:after,
		.third.top .accordion-link:before {
			border-top-color: #A3C8CE;
		}
		.third.bottom .accordion-link:after,
		.third.bottom .accordion-link:before {
			border-bottom-color: #A3C8CE;
		}
	.third .tab-title {
		color: #24737C;
	}
.secondary.open .accordion-link,
.third.open .accordion-link {
	margin: 0;
	background-color: #F2FBFA;
}
.secondary.open .accordion-tab,
.third.open .accordion-tab {
	background-color: #F2FBFA;
}
.primary.open .tab-title,
.secondary.open .tab-title,
.third.open .tab-title {
	color: #0cbcc9;
}
/*-------------------------------------ASSETS--------------------------------------*/
#assets .accordion-content {
    padding: 40px 0 80px;
}
.accordion-content-wrap {
    max-width: 890px;
    margin: 0 auto;
}
.icon-list {
    margin: 0 -60px -50px;
    text-align: center;
}
    .icon-list > li {
        display: inline-block;
        width: 24%;
        max-width: 250px;
        padding: 0 60px;
        margin-bottom: 50px;
        vertical-align: top;
    }
        a.icon-link:hover {
            /*opacity: 0.5;*/
            text-decoration: none;
        }
            .icon-box {
                margin: 0 auto;
            }
                .icon-img-box {
                    margin-bottom: 12px;
                    height: 65px;
                }
                    .icon-img-box img {
                        max-width: 60px;
                        max-height: 60px;
                        line-height: 60px;
                    }
                .icon-title {
                    margin-bottom: 20px;
                    font: 1.13em/1.4 'Gotham-Medium', 'MyriadProRegular', Arial, sans-serif;
                }

.white-popup {
    position: relative;
    background: #FFF;
    padding: 30px 50px 44px;
    width: auto;
    max-width: 700px;
    margin: 20px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
    .popup-content-wrap {
        text-align: center;
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
    }
        .popup-content-img-box {
            margin-bottom: 8px;
        }
            .popup-content-img-box img {
                max-width: 60px;
                max-height: 60px;
            }
    .popup-content-box-title {
        margin-bottom: 14px;
        font: 1.5em/1.4 'Gotham-Medium', 'MyriadProRegular', Arial, sans-serif;
        color: #0cbcc9;
}
    .popup-content-box {
        text-align: center;
    }
        .popup-content-box > * {
            margin-bottom: 10px;
        }
        .popup-content-box > :last-child {
            margin-bottom: 0;
        }
/*-----------------------------------TARGET-OUTCOMES--------------------------------*/
#target-outcomes .accordion-content {
    padding-left: 40px;
    padding-right: 40px;
}
    .accordion-sub-tab-list {
        display: table;
        width: 90%;
        margin: 0 auto;
        table-layout: fixed;
    }
        .accordion-sub-tab-list > li {
            padding: 40px 10px 26px;
            display: table-cell;
            width: 100%;
            text-align: center;
            opacity: 0.5;
            cursor: pointer;
            -webkit-border-radius: 10px 10px 0 0;
            -moz-border-radius: 10px 10px 0 0;
            border-radius: 10px 10px 0 0;
            -webkit-transition: 0.25s;
            -moz-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
            vertical-align: top;
        }
        .accordion-sub-tab-list > li:hover {
            opacity: 1;
        }
        .accordion-sub-tab-list > li.active {
            opacity: 1;
            background-color: #ffffff;
        }
            .sub-tab-item {}
                .sub-tab-item-img {
                    height: 60px;
                    margin-bottom: 12px;
                }
                    .sub-tab-item-img img {
                        max-width: 70px;
                        max-height: 60px;
                    }
                .sub-tab-item-title {
                    font: 1.13em/1.4 'Gotham-Medium', 'MyriadProRegular', Arial, sans-serif;
                }
                .sub-tab-item-title br {
                    display: none;
                }
        .sub-tab-box-wrap {
            background-color: #ffffff;
        }
        .sub-tab-box {
            max-width: 100%;
            margin: 0 auto;
            padding: 60px 40px 80px;
            background-color: #ffffff;
        }
            .sub-tab-box-lis > li .sub-tab-box {
                display: none;
            }
            .sub-tab-box-lis > li.active .sub-tab-box {
                display: block;
                margin-bottom: -50px;
            }
        .strategy-examples-block {
            padding-top: 32px;
        }
            .strategy-examples-item-list {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
                .strategy-examples-item-list > li {
                    position: relative;
                    padding: 20px 10px 34px;
                    display: table-cell;
                    width: 100%;
                    text-align: center;
                    vertical-align: top;
                    cursor: pointer;
                    opacity: 0.5;
                    -webkit-transition: 0.25s;
                    -moz-transition: 0.25s;
                    -o-transition: 0.25s;
                    transition: 0.25s;
                }
                .strategy-examples-item-list > li.active,
                .strategy-examples-item-list > li:hover {
                    opacity: 1;
                }
                .example-item.active {
                    position: relative;
                }
                .example-item.active:after {
                    position: absolute;
                    content: "";
                    left: 50%;
                    bottom: -40px;
                    margin-left: -27px;
                    width: 0;
                    height: 0;
                    border-left: 27px solid transparent;
                    border-right: 27px solid transparent;
                    border-top: 23px solid #ffffff;
                }
            .strategy-examples-item-list .example-item.active:after {
                bottom: -2px;
            }
        .strategy-examples-box-list {
            margin-top: -20px;
        }
            .strategy-examples-box-list > li .accordion-content-box-wrap {
                display: none;
            }
            .strategy-examples-box-list > li.active .accordion-content-box-wrap {
                display: block;
            }
        .outcomes-block {
            padding-top: 27px;
        }
            .block-title {
                overflow: hidden;
                position: relative;
                margin-top: 12px;
                margin-bottom: 27px;
                font: 1.75em/1.6 'Gotham-Medium', 'MyriadProRegular', Arial, sans-serif;
            }
            .block-title:before,
            .block-title:after {
                content: '';
                display: inline-block;
                position: relative;
                top: -2px;
                vertical-align: middle;
                box-sizing: border-box;
                width: 100%;
                height: 1px;
                background: #d1dbdd;
                border: solid #f0f3f4;
                border-width: 0 15px;
            }
            .block-title:before {
                margin-left: -100%;
            }
            .block-title:after {
                margin-right: -100%;
            }
            .accordion-content-box-wrap {
                padding: 55px 40px 58px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                background-color: #F2FBFA;
            }
            .slider-list {
                /*width: 100%;*/
                margin: 0 -10px;
            }
                .slider-list > li {
                    color: #ffffff;
                    display: inline-block;
                    width: 32%;
                    /*max-width: 360px;*/
                    padding: 0 10px;
                    vertical-align: top;
                }
                .slider-list.two > li {
                    width: 49%;
                }
                .slider-list.one > li {
                    width: 100%;
                }
                    .slider-text-wrap {
                        padding: 24px 20px 20px
                    }
                    .theme-light-color .slider-text-wrap {
                        background-color: #109fb5;
                    }
                    .theme-color .slider-text-wrap {
                        background-color: #0e899b;
                    }
                    .theme-dark-color .slider-text-wrap {
                        background-color: #0c7281;
                    }
                        .slider-text-title {
                            margin-bottom: 12px;
                            font: 1.38em/1.3 'Gotham-Medium', 'MyriadProRegular', Arial, sans-serif;
                        }
                            .slider-text-content > * {
                                font-size: 0.94em;
                                margin-bottom: 10px;
                            }

.owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}
.owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: rgba(0, 0, 0, 0.25);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 50%;
    border: 1px solid transparent;
}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
    background: #ffffff;
}
.owl-examples {
    display: none !important;
}
.owl-examples.owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}
    .owl-examples .icon-box {
        text-align: center;
    }
        .owl-examples .example-item {
            margin-bottom: 40px;
        }
        .example-item {
            opacity: 0.5;
            cursor: pointer;
        }
        .example-item.active {
            opacity: 1;
        }
.owl-nav {
    position: absolute;
    width: 100%;
    top: 0;
}
.owl-prev {
    position: absolute;
    left: -5px;
}
.owl-next {
    position: absolute;
    right: -5px;
}

/*---------------------------------------404----------------------------------------*/
.wrap-404 {
    text-align: center;
    padding: 20px 0;
    color: #0cbcc9;
    font-size: 4.125em;
    letter-spacing: 0;
}
    .wrap-404 .error-404{
        display: block;
        margin-bottom: -20px;
        font-size: 3em;
        line-height: 1;
        font-weight: 700;
    }


/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.sidebar {
    /*display: none;*/
    float: left;
    width: 370px;
    margin-right: 30px;
    padding: 10px 0;
}
        .nav-menu a {
            position: relative;
            display: block;
            padding: 17px 50px 15px 65px;
            font: 1.1em/1.6 'Gotham-Bold', 'MyriadProRegular', Arial, sans-serif;
            color: #54636b;
            text-transform: uppercase;
            -webkit-border-radius: 5em;
            -moz-border-radius: 5em;
            border-radius: 5em;
        }
        .nav-menu a:hover {
            color: #0cbcc9;
            text-decoration: none;
        }
        .nav-menu a.active {
            background: #ffffff;
            color: #0cbcc9;
        }
            .nav-menu a:after {
                display: none;
                content: '\f105';
                position: absolute;
                right: 28px;
                top: 50%;
                margin-top: -13px;
                font: normal normal normal 26px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: #0cbcc9;
            }
            .nav-menu a.active:after {
                display: inline-block;
            }
            .nav-menu a .menu-icon {
                position: absolute;
                left: 23px;
                top: 50%;
                margin-top: -13px;
                max-width: 26px;
                max-height: 26px;
                width: 100%;
                height: 100%;
            }
                .nav-menu .sub-nav a {
                    padding-top: 19px;
                    padding-bottom: 16px;
                    font-size: 1em;
                }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    position: relative;
    z-index: 10;
    background: #131617;
    color: #ffffff;
}
    .footer-box {
        overflow: hidden;
        padding: 40px 50px;
    }
        .footer a {
            color: #ffffff;
        }
        .footer a:hover {
            text-decoration: none;
            color: #0cbcc9;
        }
        .footer .fa {
            color: #0cbcc9;
        }

    .footer-top .footer-box {
        padding-top: 50px;
        padding-bottom: 50px;
    }
        .footer-logo {
            float: left;
            margin-top: 5px;
        }
            .footer-logo a {
                display: inline-block;
                max-width: 186px;
                margin-right: 55px;
            }
                .footer-logo img {
                    max-width: 100%;
                    height: auto;
                }
        .footer-menu,
        .footer-contacts {
            float: right;
        }
        .footer-menu {
            width: 20%;
            padding-left: 5em;
        }
        .footer-contacts {
            width: 25%;
            padding-left: 6em;
        }
            .footer-menu li:not(:last-child) {
                margin-bottom: 0.5em;
            }

            .footer-contacts li:not(:last-child) {
                margin-bottom: 1em;
            }
                .footer-contacts .fa {
                    float: left;
                    width: 14px;
                    margin-right: 1em;
                    margin-top: 0.3em;
                }
                .footer-contacts .fa-envelope {
                    font-size: 14px;
                    margin-top: 0.5em;
                    margin-right: 1.15em;
                }
                .footer-contacts .fa ~ p {
                    overflow: hidden;
                }
                .footer-contacts .fa-phone ~ p,
                .footer-contacts .fa-envelope ~ p {
                    font-size: 1.1em;
                }
        .footer-text {
            overflow: hidden;
            font-size: 14px;
        }
    .footer-bottom {
        border-top: 1px solid #1f2223;
    }
        .copyright {
            color: #5a5c5d;
            font-size: 12px;
        }
            .copyright p:not(:last-child) {
                margin-bottom: 6px;
            }
.mfp-close:hover, .mfp-close:focus {
    color: #0cbcc9;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------RESPONSIVE-------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media all and (max-width: 1900px) {
    .sub-tab-item-title br {
        display: inline-block;
    }
}
@media all and (max-width: 1800px) {
    .strategy-examples-item-list {
        display: none;
    }
    .owl-examples {
        display: block !important;
    }
}
@media all and (max-width: 1650px) {
    /*.sub-tab-box {*/
        /*max-width: 95%;*/
    /*}*/
}
@media all and (max-width: 1440px) {
    .main {
        padding: 10px 30px;
    }
        .primary {
            margin: 0 10px;
        }
        .secondary {
            margin: 0 20px;
        }
        .third {
            margin: 0 30px;
        }
            .accordion-link {
                margin: 0 -10px;
            }
        .accordion-sub-tab-list {
            width: 95%;
        }
        #target-outcomes .accordion-content,
        .sub-tab-box {
            padding-left: 20px;
            padding-right: 20px;
        }
    .sub-tab-box {
        max-width: 100%;
    }
    .header-box {
        padding: 50px 10px;
    }
    .logo {
        margin-right: 40px;
    }
    .mobile-menu-toggle {
        right: -12px;
    }
    .sidebar {
        width: 340px;
        margin-right: 0;
    }
    /*.container .main {*/
        /*padding-right: 10px;*/
    /*}*/
    .footer-box,
    .footer-top .footer-box {
        padding: 40px 10px;
    }
    .footer-menu {
        width: 22%;
        padding-left: 3em;
    }
    .footer-contacts {
        width: 27%;
        padding-left: 4em;
    }
    .copyright {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media all and (max-width: 1300px) {
.icon-list {
    margin-left: -30px;
    margin-right: -30px;
}
    .icon-list > li {
        max-width: 190px;
        padding: 0 30px;
    }
    .cell-box {
        padding-left: 25px;
        padding-right: 25px;
    }
    .slider-list {
        margin-bottom: -30px;
    }
    .slider-list > li {
        width: 49%;
        margin-bottom: 30px;
    }
    .slider-list.two > li,
    .slider-list.one > li {
        margin-bottom: 0;
    }
}
@media all and (max-width: 1180px) {
    body {
        font-size: 15px;
    }
    .sidebar {
        width: 280px;
    }
    .nav-menu a {
        padding-right: 40px;
        padding-left: 55px;
    }
    .nav-menu a .menu-icon {
        left: 17px;
    }
    .nav-menu a:after {
        right: 22px;
    }
    /*.container .main {*/
        /*padding-left: 40px;*/
        /*padding-right: 0;*/
    /*}*/
    .accordion-tab-table {
        min-width: 210px;
    }
    .accordion-content,
    .primary .accordion-content {
        padding-left: 30px;
        padding-right: 30px;
    }
    .primary .accordion-content {
        padding-bottom: 60px;
    }
}
@media all and (max-width: 1080px) {
    .sidebar {
        display: none;
    }
    .main {
        padding: 10px 0;
    }
    .content-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media all and (max-width: 992px) {
    .icon-title {
            display: none;
        }
    .icon-title {
        min-height: 46px;
    }
    .logo-wrap {
        padding-right: 40px;
    }
    .footer-logo a {
         margin-right: 30px;
    }
    .footer-menu {
        width: 33.33%;
    }
    .footer-contacts {
        width: 33.33%;
        padding-left: 1em;
    }
    .footer-text {
        display: inline-block;
        margin-top: 35px;
        text-align: justify;
    }
}
@media all and (max-width: 768px) {
    .accordion-sub-tab-list {
        width: 100%;
    }
    .cell-list > li {
        width: 100%;
        margin-bottom: 30px;
    }
    .icon-list > li {
        width: 33%;
    }
    .wrapper {
        padding-top: 90px;
    }
    .header {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        -webkit-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.5);
        -moz-box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.5);
        box-shadow: 0 1px 8px 0 rgba(50, 50, 50, 0.5);
    }
    .header .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .header-box {
        padding: 20px 0;
    }
    .logo {
        max-width: 200px;
        margin-right: 20px;
    }
    .logo img {
        margin-bottom: -4px;
    }
    .logo-wrap strong {
        margin-top: 8px;
        font-size: 1.5em;
    }
    .mobile-menu-toggle {
        right: -15px;
        height: 60px;
        width: 60px;
        margin-top: -30px;
    }
    .mobile-menu-nav-wrap {
        padding-top: 60px;
    }
    .footer-box,
    .footer-top .footer-box {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-logo {
        float: none;
        margin-top: 0;
        margin-bottom: 35px;
        text-align: center;
    }
    .footer-logo a {
        margin-right: 0;
    }
    .footer-menu,
    .footer-contacts {
        width: 50%;
    }
    .footer-menu {
        padding-left: 1em;
    }
    .footer-contacts {
        padding-left: 0;
        padding-right: 1em;
    }
    .footer-text {
        text-align: center;
    }
    .copyright {
        text-align: center;
    }
    .wrap-404 {
        padding-bottom: 0;
    }
}
@media all and (max-width: 736px) {
    .sub-tab-item-title {
        min-height: 46px;
    }
    .sub-tab-item-title {
        display: none;
    }
}
@media all and (max-width: 640px) {
    #target-outcomes .accordion-content,
    .sub-tab-box {
        padding-left: 10px;
        padding-right: 10px;
    }
    .owl-prev {
        left: -15px;
    }
    .owl-next {
        right: -15px;
    }
    .accordion-sub-tab-list > li {
        padding: 20px 10px 6px;
    }
    #assets .accordion-content {
        padding: 40px 0 40px;
    }
    .open-icon {
        right: 20px;
    }
    .accordion-tab {
        padding: 20px 60px 20px 20px;
    }
    .slider-list > li,
    .slider-list.two > li {
        width: 100%;
        margin-bottom: 30px;
    }
    .slider-text-content {
        height: auto !important;
    }
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    /*.content-wrap {*/
        /*padding-left: 5px;*/
        /*padding-right: 5px;*/
    /*}*/
    .header .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .content-wrap {
        padding-top: 35px;
        padding-bottom: 50px;
    }
    .footer-menu,
    .footer-contacts {
        float: none;
        width: 100%;
        padding: 0;
    }
    .footer-menu {
        margin-bottom: 35px;
        text-align: center;
    }
    .wrap-404 {
        padding: 0;
        font-size: 3em;
    }
}
@media all and (max-width: 560px) {
    .primary {
        margin: 0 7px;
    }
    .secondary {
        margin: 0 14px;
    }
    .third {
        margin: 0 21px;
    }
    .accordion-link {
        margin: 0 -7px;
    }
    .sub-tab-item-img {
        height: 30px;
    }
    .sub-tab-item-img img {
        max-width: 35px;
        max-height: 30px;
    }
    .wrapper {
        padding-top: 120px;
    }
    .logo-wrap {
        padding-right: 0;
        text-align: center;
    }
    .logo {
        float: none;
        margin: 0 45px;
    }
    .logo-wrap strong {
        display: block;
        line-height: 1.25;
        margin-top: 10px;
        margin-bottom: -7px;
    }
    .mobile-menu-toggle {
        top: 13px;
        margin-top: 0;
    }
        .icon-list > li {
            width: 49%;
        }
}
@media all and (max-width: 480px) {
    .container {
        padding-left: 3px;
        padding-right: 3px;
    }
    .accordion-content-box {
        padding: 0;
    }
    .accordion-content-box-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media all and (max-width: 420px) {
    .tab-title-info {
        margin-top: 0;
    }
    .mobile-menu-nav-wrap{
        padding-left: 10px;
        padding-right: 10px;
    }
    .nav-menu a {
        padding: 14px 30px 12px 45px;
    }
    .nav-menu a .menu-icon {
        left: 13px;
        margin-top: -11px;
        max-width: 22px;
        max-height: 22px;
    }
    .nav-menu a:after {
        right: 16px;
    }
    .accordion-content-box-wrap {
        padding-left: 10px;
        padding-right: 10px;
    }

}
@media all and (max-width: 360px) {
    /*.accordion-sub-tab-list {*/
        /*width: 95%;*/
    /*}*/
    .wrap-404 {
        font-size: 3em;
    }
}